@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700|Playfair+Display:700&display=swap');

button {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000055ff;
  border: 1px solid #000055ff;
  background-color: white;
  width: 195px;
  height: 45px;
  margin-left: 20px;
  transition: all 400ms ease-in-out 20ms;
  outline: none;
}

button:hover {
  background-color: #000055ff;
  color: white;
  border: 1px solid white;
  cursor: crosshair;
}

.section {
  background-color: #d4e5fff9;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 550px;
  position: relative;
}


.carousel__btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.card__title {
  width: 900px;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  color: #000055ff;
  margin-bottom: 20px;
}

.card__divider {
  background-color: #81feb5ff;
  width: 265px;
  height: 20px;
  align-self: center;
  margin-bottom: 20px;
}

.card__desc {
  font-size: 19px;
  color: #000055ff;
  font-family: 'Nunito', sans-serif;
}

